{% extends "users/emails/base.html" %}
{% block content %}
<div align="left" class="article-content">
<multiline label="Description">
Hello,
<br><br>
You access to {{domain_url}} has been revoked.
</multiline>
</div>
{% endblock content %}


